/*................................................
    BODY SECTION
.................................................*/
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.panel-left img {
    width: 100%;
    height: 600px;
    background-size: 100% 100%;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.content {
    margin-top: 70px;
}

.panel-right {
    padding: 40px;
    padding-top: 0;
    text-align: center;
}

.panel-right h2 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.testimonial {
    text-align: center;
    margin-bottom: 20px;
}

.title-area h3 {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.testimonial-area {
    background-color: #E9E5D9;
    padding: 20px;
}

.testimonial p{
    margin-top: 10px;
    
    padding-top:0;
}

.testimonial-area .flex-box {
    flex-direction: column;
}
  
.testimonial-one {
    margin-bottom: 20px;
}