/*................................................
    BODY SECTION
.................................................*/
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    padding: 120px;
    margin-left :30px;
    margin-right: 30px;
    background-image: url("../images/banner.jpg");
}

h1 {
    font-size: 45px;
    padding-top: 160px;
    line-height: 1;
    margin-bottom: 10px;
    color: white;
}

.banner p {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

#service-button {
    padding: 20px;
    background-color: #eabf25;
    color: white;
    font-size: 20px;
}

#service-button:hover {
    box-shadow: 2px 2px 1px 5px #eabf25  ;
}

.content {
    margin:0 auto;
    width:70%;
}

.block {
    margin-top :20px;
}

h2 {
    font-size: 30px;
    padding-bottom: 20px;
}

.block-information {
    margin-bottom: 20px;
}
/*................................................
    8.MEDIA QUERIES
.................................................*/  
@media (max-width:990px) {
    .block {
        text-align: center;
    }
}