/*................................................
    BODY SECTION
.................................................*/
body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.content h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.banner {
  margin-top: 80px;
}

.content {
  padding: 64px;
}

.content .panel-left,
.content .panel-right {
  padding: 20px;
  width:50%
}

.panel-left img {
  width: 70%;
}

.block .title-area h3 {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 40px;
}

.block {
  padding: 40px;
  border-top: 1px solid #eabf25; ;

}

.listing-style-one li img {
  width: 80%;
  object-fit: cover;
  height: 100%;
  vertical-align: middle;
  border-radius: 15%;
}

.listing-style-one li img:hover {
  transition: 1s all ease-in-out; 
  transform: scale(1.5);
  border: 3px solid white;
}

.listing-style-two {
  flex-wrap: wrap;
}

.listing-style-two li {
  width: 30%;
  list-style-type: none;
  padding: 20px;
}

.listing-style-two p {
  line-height: 30px;
}

.listing-style-three li {
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  margin-left: 100px;
}

.testimonial {
  text-align: center;
}

/*................................................
    8.MEDIA QUERIES
.................................................*/
@media (max-width:990px) {
.content {
  flex-direction: column;
  text-align: center;
}
.content .panel-left,
.content .panel-right {
  width: 100%;
}
.listing-style-three li {
  padding-left: 0;
  text-align: center;
  margin-left: 0;
}
}

@media (max-width:990px) {

  .content {
    flex-direction: column;
    text-align: center;
  }
  .content .panel-left,
  .content .panel-right {
    width: 100%;
  }
  .listing-style-three li {
    padding-left: 0;
    text-align: center;
    margin-left: 0;
  }
}
@media (max-width: 768px)  { 
.listing-style-two li{
  width: 50%;
  padding: 10px;
 }
}
@media (max-width: 486px) {
.listing-style-two li{
  width: 100%;
  padding: 10px;
 }
}